{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Wildlife - Tracker{{/block}}
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body style="background-image:url('https://i.pinimg.com/originals/ba/9d/62/ba9d62ca0d69f70aa76d6243b21ceffc.jpg'); background-size:cover; background-repeat:no-repeat;">
{{/block}}

<!-- begin inner template-->

    {{#block "content"}}
    {{/block}}

<!-- end inner template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}