{{#partial "title" }}
    Wildlife - Tracker
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}
    <body style="background-image:url('https://i.pinimg.com/originals/ba/9d/62/ba9d62ca0d69f70aa76d6243b21ceffc.jpg'); background-size:cover; background-repeat:no-repeat;  ">

    <h1 style="font-family:'lobster', cursive; text-align:center; margin-top: 20%; margin-bottom:5%; color:navy;" id="header">WELCOME TO THE WILDLIFE - TRACKER</h1>
    <a class="btn btn-primary" style="margin-left:37%; width:25%;" href="/homepage">Enter</a>


    </body>

    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}

